.actions {
  padding: 80px 10px;

  .title {
    color: #676770;
    font-size: 30px;
    margin: 0 0 15px 0;
    letter-spacing: 5px;
  }

  .subtitle {
    font-size: 17px;
    margin: 0 0 60px 0;
    letter-spacing: 3px;
    opacity: 0.6;
  }

  .cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #676770;
    flex-wrap: wrap;
  }

  .card {
    width: 300px;
    padding: 36px 0 24px 0;
    border-radius: 5px;
    border: 1px solid #dcebf7;
    margin: 0 10px 20px;

    &__head {
      font-size: 20px;
      letter-spacing: 5px;
      margin: 0 0 14px 0;
    }

    &__info {
      margin: 0;
      font-size: 14px;
      color: #6a859c;
      line-height: 25px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    &__icon {
      margin: 0 auto 15px;
    }
  }
}
