.services {
  padding: 80px 10px 10px;
  background-color: #192024;

  .title {
    color: #ffffff;
    letter-spacing: 6px;
    font-size: 30px;
    margin: 0 0 15px 0;
  }

  .subtitle {
    font-size: 17px;
    margin: 0 0 60px;
    letter-spacing: 3px;
    color: #e8e8e8;
  }

  &__all {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .service {
      max-width: 430px;
      margin: 0 25px 70px;
      color: #fff;

      &__picture {
        border-radius: 8px;
        width: 100%;
      }

      &__head {
        letter-spacing: 5px;
        font-size: 20px;
        margin-bottom: 23px;
      }

      &__info {
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 17px;
        padding: 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }

      &__button {
        outline: none;
        border: 1px solid #fff;
        border-radius: 4px;
        font-size: 16px;
        background: transparent;
        padding: 12px 30px;
        transition: 0.33s;
        color: #fff;

        &:hover {
          background: #fff;
          color: black;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .services {
    .subtitle {
      margin-bottom: 60px;
    }

    &__all {
      .service {
        margin: 0 0 50px;

        &__head {
          margin-bottom: 15px;
        }
      }
    }
  }
}
